<a href="https://colab.research.google.com/github/misbaniha/Beyond_QWERTY_Project/blob/main/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('test.db')

In [5]:
import sqlite3

conn = sqlite3.connect('test.db')

# Create a cursor object
cursor = conn.cursor()

# Define the SQL statement
sql = """
CREATE TABLE Employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(100),
    age INT,
    department VARCHAR(50),
    salary DECIMAL(10, 2)
);
"""

# Execute the SQL statement using the cursor
cursor.execute(sql)

# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()

In [12]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('test.db')

# Create a cursor object
cursor = conn.cursor()

# Define the SQL UPDATE statement
sql = "UPDATE Employees SET salary = 65000 WHERE name = 'John Doe';"

# Execute the SQL statement using the cursor
cursor.execute(sql)

# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()

In [7]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('test.db')

# Create a cursor object
cursor = conn.cursor()

# Define the SQL INSERT statement
sql = """
INSERT INTO Employees (name, age, department, salary)
VALUES ('John Doe', 30, 'IT', 60000.00);
"""

# Execute the SQL statement
cursor.execute(sql)

# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()

In [10]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('test.db')

# Create a cursor object
cursor = conn.cursor()

# Define the SQL SELECT statement
sql = "SELECT * FROM Employees;"

# Execute the SQL statement using the cursor
cursor.execute(sql)

# Fetch all results
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the connection
conn.close()

(1, 'John Doe', 30, 'IT', 60000)